<SiteConfig>
  <SiteDetails>
    <CompanyName>CompanyName</CompanyName>
    <CompanyShortName>CompanyShortName</CompanyShortName>
    <EmailAddress>EmailAddress</EmailAddress>
    <PhoneNumber>PhoneNumber</PhoneNumber>
    <Address>Address</Address>
    <ShowDownloadApplication>true</ShowDownloadApplication>
    <TenantInfoShowTrash>false</TenantInfoShowTrash>
    <TenantInfoPostOfficeAddress>PostOfficeAddress</TenantInfoPostOfficeAddress>
    <TenantInfoDocs>
      <TenantInfoDoc>
        <DisplayName>DisplayName</DisplayName>
        <FileName>FileName</FileName>
      </TenantInfoDoc>
    </TenantInfoDocs>
    <MailSettings>
      <SMTPServer>SMTPServer</SMTPServer>
      <SMTPUsername>SMTPUsername</SMTPUsername>
      <SMTPPw>SMTPPw</SMTPPw>
      <SMTPPort>0</SMTPPort>
      <SMTPTo>SMTPTo</SMTPTo>
    </MailSettings>
  </SiteDetails>
  <LogLevel>Warn</LogLevel>
</SiteConfig>
