@using rm = Resources.Website.Global
@Scripts.Render("~/bundles/modal")
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalHeader" aria-hidden="true" data-bs-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalHeader">Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@rm.CLOSE</button>
            </div>
        </div>
    </div>
</div>